<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' />
  </head>
  <body>
    <h1>Welcome to sending mail from a rails application!!, <%= @user.email %></h1>
    <p>
      To make that happen for yourself...
      <ul>
        <li>Add the Mailgun addon to your application on heroku</li>
        <li>Edit your environment files
          <ul>
            <li>development.rb</li>
            <li>production.rb</li>
            <li>test.rb</li>
          </ul>
          <ul>
            <li> 
              ... to include:
              <ul>
                <li>config.action_mailer.delivery_method = :smtp </li>
                <li>config.action_mailer.smtp_settings = { </li>
                <li>  :authentication => :plain, </li>
                <li>  :address => "smtp.mailgun.org",</li>
                <li>  :port => 587,</li>
                <li>  :domain => "your applications domain",</li>
                <li>  :user_name => "the email login mail gun gave you",</li>
                <li>  :password => "your password"</li>
                <li>}  </li>
              </ul>            
            </li>
          </ul>
        </li>
        <li>
          Create a new mailer controller via 'rails g mailer User'
        </li>
        <li>
          Define an action (ex: welcome_user(user))
        </li>
        <li>
          In the views/user_mailer/ directory... create and edit a welcome_user.html.erb
        </li>
        <li>
          To send your message, UserMailer.welcome_user(user).deliver
        </li>
      </ul>
    </p>
    
  </body>
</html>